/* header example fixed */

/* position fixed */
/* .header-element {
    display: flex;
    padding: 30px;
    background-color: lightblue;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-main {
    height: 76px;
} */

/* position sticky */
.header-main {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 30px;
  background-color: lightseagreen;
}
.header-element {
  display: flex;
  justify-content: space-between;
}

.ul-element {
  display: flex;
}


/* chat image example */
.chat-image {
  height: 80px;
}
.chat-icon {
  position: fixed;
  right: 80px;
  bottom: 80px;
  z-index: 50;
}
/* image example positions */
.title-image {
  position: absolute;
  top: 50px;
  right: 100px;
  color: blue;
  font-size: 30px;
}
.image-wraper {
  position: relative;
  /* width: 642px; */
  display: inline-block;
}

/* example */
.text-box-image {
  width: 511px;
  height: 270.5px;
  border: 2px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-image {
  width: 100%;
}
.banner-wraper {
  position: relative;
}
.round-block {
  width: 64.5px;
  height: 64.5px;
  background-color: #6b77e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* example #2 */
.container {
  width: 1220px;
  margin: 0 auto;
  background-color: lightgrey;
  text-align: center;
}
.white-box {
  width: 341px;
  height: 114px;
  background-color: #fff;
  position: absolute;
  left: 22px;
  bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.team-box {
  display: flex;
  justify-content: space-between;
}
.box {
  width: 386px;
  height: 532px;
  position: relative;
}
